/* VARIABLES */
:root {
  --main-white-color: #FFF;
  --main-black-color: #000;
  --main-cyan-color: #5FB4A2;
  --main-dark-blue-color: #203A4C;
  --main-grayish-dark-blue: #33323D;
  --main-very-light-grey-color: #FAFAFA;
  --main-light-grey-color: #EAEAEB;
  --main-bright-red-color: #F43030;
}

/* FONTS */
/* ibarra-real-nova-regular - latin */
@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibarra-real-nova-v20-latin-regular.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-regular.woff") format("woff");
}
/* ibarra-real-nova-700 - latin */
@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ibarra-real-nova-v20-latin-700.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-700.woff") format("woff");
}
/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
/* public-sans-700 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Ibarra Real Nova", serif;
  font-family: "Public Sans", "Arial", sans-serif;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
}

/* Site Header Start */
.siteheader {
  z-index: 100;
  padding-top: 32px;
  padding-bottom: 32px;
}

.siteheader__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.siteheader__btn {
  display: inline-block;
  background-image: url("../images/btn-open.svg");
  width: 24px;
  height: 13px;
  border: none;
  background-color: transparent;
  display: inline-block;
}

.sitenav {
  position: absolute;
  right: 0;
  overflow: hidden;
  background-color: var(--main-grayish-dark-blue);
  max-width: 223px;
  width: 100%;
  height: 200px;
  top: 60px;
  display: none;
}

.sitenav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 20px;
}

.sitenav__item {
  text-align: center;
}

.sitenav__item:first-child {
  padding-top: 20px;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--main-white-color);
}

.site-nav-on .siteheader__btn {
  width: 18px;
  height: 19px;
  background-image: url("../images/close-btn.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.site-nav-on {
  overflow: hidden;
}

.site-nav-on html {
  pointer-events: none;
}

.site-nav-on .sitenav {
  display: block;
  -webkit-animation: nav-on 0.8s;
          animation: nav-on 0.8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.sitenav__link--active {
  color: #5FB4A2;
}

@-webkit-keyframes nav-on {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes nav-on {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@media only screen and (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .sitenav__link--active {
    color: var(--main-cyan-color) !important;
  }
  .siteheader {
    padding-top: 64px;
    padding-bottom: 47px;
    padding: 0;
  }
  .sitenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
    background-color: transparent;
    max-width: none;
    padding: 0;
  }
  .sitenav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .sitenav__item:not(:last-child) {
    margin: 0;
    padding-bottom: 0;
    padding: 0;
  }
  .sitenav__item {
    margin: 0;
    padding: 0;
  }
  .sitenav__item:nth-child(2) {
    padding-left: 42px;
    padding-right: 43px;
  }
  .sitenav__link {
    color: var(--main-grayish-dark-blue);
  }
  .siteheader__btn {
    display: none;
  }
}
/* Site Header Finish */
.hero {
  padding-bottom: 96px;
}

.hero__wrapper {
  position: relative;
}

.hero__img-box {
  background-image: url("../images/hero-bg-img-mobile.jpg");
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 600px;
  width: 100%;
  height: 271px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero__img-box {
    background-image: url("../images/hero-bg-img-mobile@2x.jpg");
  }
}
.hero__title {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
}

.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 36px 0 0;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  background-color: var(--main-dark-blue-color);
  text-decoration: none;
  color: var(--main-white-color);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hero__btn:hover {
  background-color: var(--main-cyan-color);
}
.hero__btn::before {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 36px;
  padding: 25px 25px;
  background-color: #1d3445;
  background-image: url("../images/links-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero__btn:hover::before {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-image: url("../images/link-arrow-white.svg");
  background-color: var(--main-cyan-color);
}

@media only screen and (min-width: 600px) {
  .hero__img-box {
    background-image: url("../../images/hero-bg-img-tablet.jpg");
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 900px;
    width: 100%;
    height: 600px;
  }
}
@media only screen and (min-width: 600px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 600px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 600px) and (min-device-pixel-ratio: 2), only screen and (min-width: 600px) and (min-resolution: 192dpi), only screen and (min-width: 600px) and (min-resolution: 2dppx) {
  .hero__img-box {
    background-image: url("../images/hero-bg-img-tablet@2x.jpg");
  }
}
@media only screen and (mix-width: 768px) {
  .hero__title-box {
    max-width: 514px;
    width: 100%;
    height: 278px;
    background-color: var(--main-white-color);
  }
}
@media only screen and (min-width: 620px) {
  .hero__img-box {
    max-width: 650px;
    height: 500px;
  }
  .hero__title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 700px) {
  .hero__img-box {
    max-width: 900px;
    height: 600px;
  }
  .hero__title-box {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 514px;
    padding-top: 56px;
    background: var(--main-very-light-grey-color);
  }
  .hero__title {
    margin-top: 0;
    font-size: 45px;
  }
}
@media only screen and (min-width: 900px) {
  .hero__img-box {
    width: 100%;
    max-width: 100%;
    background-image: url("../images/hero-bg-img.jpg");
  }
}
@media only screen and (min-width: 900px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 900px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 900px) and (min-device-pixel-ratio: 2), only screen and (min-width: 900px) and (min-resolution: 192dpi), only screen and (min-width: 900px) and (min-resolution: 2dppx) {
  .hero__img-box {
    background-image: url("../images/hero-bg-img@2x.jpg");
  }
}
@media only screen and (min-width: 1100px) {
  .hero__title-box {
    max-width: 460px;
    padding-right: 65px;
  }
  .hero__title {
    margin-bottom: 53px;
    font-size: 50px;
    line-height: 50px;
  }
}
.article {
  padding-bottom: 80px;
}

.article__title {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: var(--main-dark-blue-color);
}

.article__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.article__btn {
  display: inline-block;
  padding-top: 17px;
  text-align: center;
  border: 1px solid #33323D;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  width: 162px;
  height: 48px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.article__btn:hover {
  background-color: var(--main-dark-blue-color);
  color: var(--main-white-color);
}

.article__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 700px) and (max-width: 767px) {
  .article__title {
    max-width: 350px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .article__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article__box {
    margin-top: 0;
    padding-left: 30px;
  }
  .article__title {
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    width: 350px;
    padding-right: 20px;
  }
  .article__line {
    background-color: #DCDCDE;
    max-width: 10000px;
    width: 100%;
    height: 1px;
  }
}
.about {
  padding-bottom: 96px;
}

.about__title-box {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-left: 50px;
  padding-bottom: 100px;
  padding-top: 46px;
}

.about__title {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: var(--main-grayish-dark-blue);
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--main-grayish-dark-blue);
  opacity: 0.8;
  padding-bottom: 24px;
}

.about__btn {
  border: 1px solid var(--main-grayish-dark-blue);
  text-decoration: none;
  color: var(--main-grayish-dark-blue);
  padding-right: 35px;
  padding-left: 32px;
  padding-top: 17px;
  padding-bottom: 17px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.about__btn:hover {
  background-color: var(--main-grayish-dark-blue);
  color: var(--main-white-color);
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .about__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__title-box {
    margin-top: 32px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 375px) {
  .about__img {
    width: 250px;
  }
}
@media only screen and (min-width: 700px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .about__title-box {
    max-width: 400px;
    margin-left: 69px;
  }
}
/* Touch Start */
.touch {
  padding-bottom: 32px;
}

.touch__wrapper {
  border-top: 1px solid #E3E3E5;
  border-bottom: 1px solid #E3E3E5;
}

.touch__title {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
}

.touch__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: var(--main-dark-blue-color);
  opacity: 0.8;
}

.touch__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.touch__logo:not(:first-child) {
  margin-left: 15px;
}

@media only screen and (min-width: 1000px) {
  .touch__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .touch__main {
    max-width: 600px;
    width: 100%;
  }
  .touch__logos {
    margin-top: 24px;
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__span {
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  opacity: 0.8;
}

.form__error {
  margin-top: 4px;
  font-style: italic;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #F43030;
  opacity: 0;
}

.form__input {
  padding: 9px 16px;
  outline: none;
  border: none;
  background-color: #E6E6E7;
  border: 2px solid transparent;
}

.form__textarea {
  resize: none;
  padding: 9px 16px;
  outline: none;
  border: none;
  background-color: #E6E6E7;
  border: 2px solid transparent;
}

.form__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 2px solid var(--main-bright-red-color);
}

.form__input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 2px solid var(--main-bright-red-color);
}

.form__input:not(:placeholder-shown):not(:focus):invalid {
  border: 2px solid var(--main-bright-red-color);
}

.form__input:not(:-moz-placeholder-shown):not(:focus):invalid + .form__error {
  opacity: 1;
}

.form__input:not(:-ms-input-placeholder):not(:focus):invalid + .form__error {
  opacity: 1;
}

.form__input:not(:placeholder-shown):not(:focus):invalid + .form__error {
  opacity: 1;
}

.form__input:focus {
  border: 2px solid #5FB4A2;
}

.form__textarea:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 2px solid var(--main-bright-red-color);
}

.form__textarea:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 2px solid var(--main-bright-red-color);
}

.form__textarea:not(:placeholder-shown):not(:focus):invalid {
  border: 2px solid var(--main-bright-red-color);
}

.form__textarea:not(:-moz-placeholder-shown):not(:focus):invalid + .err__message {
  opacity: 1;
}

.form__textarea:not(:-ms-input-placeholder):not(:focus):invalid + .err__message {
  opacity: 1;
}

.form__textarea:not(:placeholder-shown):not(:focus):invalid + .err__message {
  opacity: 1;
}

.form__textarea:focus {
  border: 2px solid #5FB4A2;
}

.form__btn {
  display: inline-block;
  margin-top: 24px;
  max-width: 200px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: transparent;
  background-color: var(--main-dark-blue-color);
  color: var(--main-white-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
}

@media only screen and (min-width: 1000px) {
  .siteform__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form {
    max-width: 600px;
    width: 100%;
  }
}
/* Site Footer Start */
.footer {
  background-color: var(--main-grayish-dark-blue);
  padding: 56px 0;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.footer__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.footer__item {
  text-align: center;
}

.footer__item:not(:last-child) {
  padding-bottom: 32px;
}

.footer__link {
  display: inline-block;
  text-decoration: none;
  color: var(--main-white-color);
}

.footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__logo {
  color: var(--main-white-color);
  display: inline-block;
  text-decoration: none;
}

.footer__logo:not(:first-child) {
  padding-left: 15px;
}

@media only screen and (min-width: 700px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__icons {
    margin: 0;
    padding: 0;
    margin-right: 7px;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item:not(:last-child) {
    padding-bottom: 0;
  }
  .footer__item {
    margin-left: 42px;
  }
  .footer__logos {
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 24px 0;
  }
}/*# sourceMappingURL=main.css.map */