/* GENERAL */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  @include sticky-footer;
  font-family: "Ibarra Real Nova", serif;
  font-family: "Public Sans", "Arial", sans-serif;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}