// MIXINS

@mixin list-unstyle {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@mixin psevdo-elements($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
  content: "";
}

@mixin mobile-first($min) {
  @media only screen and (min-width:$min) {
    @content;
  }
}


@mixin min-max($min, $max) {
  @media only screen and (min-width:$min) and (max-width:$max) {
    @content;
  }
}

@mixin desktop-first($max) {
  @media only screen and (max-width:$max) {
    @content;
  }
}

@mixin sticky-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

@mixin list-unstyle {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@mixin button-unstyle{
  background-color: transparent;
  border: none;
}

@mixin link-unstyle($display:inline-block) {
  display: $display;
  text-decoration: none;
}

@mixin  bgRetinaImages{
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    @content;
  }
}

%text-end{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}