/* VARIABLES */

:root {
  --main-white-color: #FFF;
  --main-black-color: #000;
  --main-cyan-color: #5FB4A2;
  --main-dark-blue-color: #203A4C;
  --main-grayish-dark-blue: #33323D;
  --main-very-light-grey-color: #FAFAFA;
  --main-light-grey-color: #EAEAEB;
  --main-bright-red-color: #F43030;
}